@use "reset" as *;
@use "colors" as *;
@use "game" as *;

.App {
	min-height: 100vh;
	min-width: 100vw;

	background: $black;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
