@use "reset" as *;
@use "colors" as *;

.App {
	min-height: 100vh;
	min-width: 100vw;

	padding: 50px;

	& .deal-button {
		margin-bottom: 300px;
	}

	& .current-hand {
		margin-bottom: 300px;

		& .card {
			margin-bottom: 50px;

			& svg {
				transform: scale(4);
			}
		}
	}
}
