@use "colors" as *;

.info-pane {
	flex: 1 1 33%;

	border: 1px solid hotpink;
	padding: 5px;

	display: flex;
	flex-direction: column;
	align-items: center;

	& > div {
		width: 100%;
	}

	& .wealth-display {
		border: 1px solid black;
		flex: 1 1 10%;
	}

	& .betting-widget {
		border: 1px solid orange;
		flex: 1 1 10%;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;

		& input::-webkit-inner-spin-button,
		& input::-webkit-outer-spin-button {
			opacity: 1;
		}
	}

	& .pot-display {
		border: 1px solid blue;
		flex: 1 1 40%;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	& .game-control-panel {
		border: 1px solid gray;
		flex: 1 1 40%;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;

		& .num-player-button {
			flex: 1 1 45%;
		}

		& .start-stop-button {
			flex: 1 1 100%;
		}
	}
}
